body {
  margin: 0;
  padding: 0;
  background-image: url('/src/assets/fondo-C4YVKjzF.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: sans-serif;
}