.detalle-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.titulo {
  margin-top: 20px;
  font-size: 32px;
}

.detalle-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  background: #efefef;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.detalle-item {
  text-align: left;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.detalle-item label {
  font-weight: bold;
  color: #444;
}

.detalle-item span {
  display: block;
  margin-top: 5px;
  font-size: 18px;
}

.detalle-main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}


.datos-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.datos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: left;
}

.datos-grid label {
  font-weight: bold;
}


.recursos-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.recursos-grid {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.rcard {
  width: 30%;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.rcard b {
  font-size: 28px;
}


.botonera {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.botonera button {
  padding: 10px 20px;
  background: #333;
  color: white;
  border-radius: 10px;
}


.historial-box {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.historial-box table {
  width: 100%;
  border-collapse: collapse;
}

.historial-box th {
  background: #ddd;
  padding: 10px;
}

.historial-box td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}


.comentarios-box {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.btn-add {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  background: #222;
  color: white;
  border-radius: 50%;
  font-size: 22px;
}
