.listaot-container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.titulo {
  font-size: 32px;
  margin-top: 20px;
}

.user-info-box {
  margin: 20px auto;
  background: #f5f5f5;
  width: 60%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.btn-bar {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-opcion {
  background: #444;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-opcion:hover {
  background: #222;
}

.layout-grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
}


.tabla-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.2);
}

.tabla-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-buscar {
  width: 70%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #999;
}

.input-filtro {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #999;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

.tabla th {
  background: #ddd;
  padding: 12px;
}

.tabla td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.btn-ver {
  background: #0074FF;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn-ver:hover {
  background: rgb(0, 80, 190);
}


.btn-eliminar {
  padding: 6px 12px;
  border-radius: 6px;
  color: white; 
  border: none;
  font-size: 14px;     
  cursor: pointer;
  background-color: #c62828; 
  transition: background 0.2s ease;
}

.btn-eliminar:hover {
  background-color: #b71c1c; 
}

.panel-registros {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.2);
}

.panel-card {
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  background: #eee;
}

.panel-card b {
  font-size: 26px;
  display: block;
}

/* Colores */
.total { border-left: 6px solid black; }
.pendiente { border-left: 6px solid #3A61A8; }
.proceso { border-left: 6px solid #61A83A; }
.finalizada { border-left: 6px solid red; }

.acciones-ot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio uniforme */
  white-space: nowrap;
}



.tabla td {
  white-space: nowrap; /* Evita que los botones se dividan en columnas */
}
