.div {
  max-width: 250px;            /* Ajustable */
  margin: 80px auto;       /* Centrado vertical y horizontal */
  padding: 30px;

  background: #ffffff;
  border-radius: 20px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;  /* Elementos en vertical */
  gap: 15px;               /* Espacio entre inputs */
}

.div form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.div input {
  border: solid 1px #b3b3b3;
  background: #fffefe;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
}

.div input:focus {
  border: none;
  outline: 2px solid #b3b3b3; 
  background: #ffffff;
}

.div button {
  background-color: #c62828;   
  color: #ffffff;              
  border: none;                
  border-radius: 8px;          
  padding: 10px 18px;          
  font-size: 16px;
  cursor: pointer;

  transition: background-color 0.2s ease;
}


.div button:hover {
  background-color: #b71c1c;   
}


.div button:active {
  background-color: #9a0007; 
}

