.modal-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.modal-box {
  background: #d1d1d1;
  padding: 30px;
  border-radius: 15px;
  width: 420px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.3);
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-box input,
.form-box select,
.form-box textarea {
  padding: 10px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
}

textarea {
  height: 70px;
}

.error {
  color: #c62828;
  font-size: 13px;
  margin-top: -8px;
  margin-bottom: 5px;
}

/* Botones */
.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-eliminar {
  background: #c62828;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

.btn-guardar {
  background: #222;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

.btn-cancelar {
  background: #555;
  color: white;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

/*  Estilo para Radio Buttons de Estado OT */
.radio-group {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
}

.radio-group input[type="radio"] {
  transform: scale(1.3);
  cursor: pointer;
}
